In [1]:
#Source word and bigram frequency

In [4]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
mous_words = pd.read_csv('mous_words_syllable_bigram_frequencies.csv')
mous_words

,Word,Syllables,Syllable Occurrence Counts,Bigrams,Bigram Occurrence Counts,Zipf,FREQcount,Lg10WF
0,toen,"[""'tun""]",[47826.0],"['to', 'oe', 'en']","[2236591.0, 837795.0, 8542439.0]",6.032333,47514.0,4.676822
1,de,"[""'d@""]",[1061177.0],['de'],[2559661.0],7.381291,1061177.0,6.025788
2,barkeeper,"[""'bAr"", 'ki', 'p@r']","[3329.0, 3669.0, 20167.0]","['ba', 'ar', 'rk', 'ke', 'ee', 'ep', 'pe', 'er']","[584273.0, 1754491.0, 2174749.0, 3143026.0, 94...",3.622674,184.0,2.264818
3,die,"[""'di""]",[325903.0],"['di', 'ie']","[1050254.0, 2076673.0]",6.853871,315041.0,5.498367
4,irritante,NaN,[],"['ir', 'rr', 'ri', 'it', 'ta', 'an', 'nt', 'te']","[2884214.0, 200692.0, 1787712.0, 333345.0, 892...",3.284921,84.0,1.924279
...,...,...,...,...,...,...,...,...
1937,blije,NaN,[],"['bl', 'li', 'ij', 'je']","[152155.0, 3369152.0, 1639122.0, 913788.0]",3.485836,134.0,2.127105
1938,jongeren,NaN,[],"['jo', 'on', 'ng', 'ge', 'er', 're', 'en']","[866375.0, 2451854.0, 2927082.0, 3692145.0, 67...",3.965097,406.0,2.608526
1939,intens,"['In', ""'tEns""]","[39087.0, 264.0]","['in', 'nt', 'te', 'en', 'ns']","[2264626.0, 1477178.0, 3522714.0, 8542439.0, 6...",3.778748,264.0,2.421604
1940,plezier,"['pl@', ""'zir""]","[5981.0, 5884.0]","['pl', 'le', 'ez', 'zi', 'ie', 'er']","[97171.0, 4397946.0, 100963.0, 123482.0, 20766...",5.093966,5475.0,3.738384
1941,woonplaats,"[""'wom"", 'plats']","[175.0, 2617.0]","['wo', 'oo', 'on', 'np', 'pl', 'la', 'aa', 'at...","[933919.0, 3901750.0, 2451854.0, 16967.0, 9717...",3.241993,76.0,1.880814

In [10]:
mous_words.columns

Index(['Word', 'Syllables', 'Syllable Occurrence Counts', 'Bigrams',
       'Bigram Occurrence Counts', 'Zipf', 'FREQcount', 'Lg10WF'],
      dtype='object')

In [16]:
source = Path('/media/neel/MOUS/MOUS/MOUS/SynologyDrive/source') #change this to the source directory that contains the 'transcription' CSVs

In [ ]:
for subject in source.iterdir():
    if subject.is_dir() and subject.name.startswith('sub-V'):
        print(subject.name)
        transcription = subject / 'func' / f'{subject.name}_transcription.csv'
        if transcription.exists():
            print(transcription)
            df = pd.read_csv(transcription)
            #merge df with mous_words on 'Word'
            df = pd.merge(df, mous_words, on='Word', how='left')
            #log10 of the minimum value of Bigram Occurence Counts
                        # Ensure 'Bigram Occurrence Counts' are lists of numbers
            df['Bigram Occurrence Counts'] = df['Bigram Occurrence Counts'].apply(lambda x: eval(x) if isinstance(x, str) else x)
            # Log10 of the minimum value of Bigram Occurrence Counts
            df['log10_Min_Bigram'] = df['Bigram Occurrence Counts'].apply(
                lambda x: np.log10(min(x)) if isinstance(x, list) and len(x) > 0 and all(i > 0 for i in x) else 0)
            
            word_frequencies = df[['Onset','Word','Zipf','Lg10WF']]
            bigrams = df[['Onset','Word','Bigrams','log10_Min_Bigram']]
            word_frequencies.to_csv( subject / 'func' / f'{subject.name}_word_frequencies.csv', index=False)
            bigrams.to_csv( subject / 'func' / f'{subject.name}_bigrams_processed.csv', index=False)

In [17]:
word_frequencies

         Onset       Word      Zipf    Lg10WF
0       10.142         de  7.381291  6.025788
1       10.674  ontworpen  4.061366  2.705008
2       11.842        die  6.853871  5.498367
3       12.458      sprak  4.725275  3.369587
4       13.260      heeft  6.559424  5.203919
...        ...        ...       ...       ...
1375  1712.776    trompet  3.427384  2.068186
1376  1713.742   uitkiest  2.770476  1.397940
1377  1714.794      heeft  6.559424  5.203919
1378  1715.578       geld  5.895894  4.540380
1379  1716.278     genoeg  5.775656  4.420137

[1380 rows x 4 columns]

In [18]:
bigrams

,Onset,Word,Bigrams,log10_Min_Bigram
0,10.142,de,['de'],6.408182
1,10.674,ontworpen,"['on', 'nt', 'tw', 'wo', 'or', 'rp', 'pe', 'en']",4.602624
2,11.842,die,"['di', 'ie']",6.021294
3,12.458,sprak,"['sp', 'pr', 'ra', 'ak']",5.385215
4,13.260,heeft,"['he', 'ee', 'ef', 'ft']",5.228939
...,...,...,...,...
1375,1712.776,trompet,"['tr', 'ro', 'om', 'mp', 'pe', 'et']",4.709914
1376,1713.742,uitkiest,"['ui', 'it', 'tk', 'ki', 'ie', 'es', 'st']",4.368138
1377,1714.794,heeft,"['he', 'ee', 'ef', 'ft']",5.228939
1378,1715.578,geld,"['ge', 'el', 'ld']",5.924795
1379,1716.278,genoeg,"['ge', 'en', 'no', 'oe', 'eg']",5.923138