In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [3]:
#Generate syllable frequency regressors for visual and bigram frequency regressors for auditory

In [2]:
master_table = pd.read_csv('/home/neel/Desktop/MOUS_hierarchical-representations/guslatho_MOUS_word_syllable_frequencies.csv',index_col=0)
source = Path('/media/neel/MOUS/MOUS/MOUS/SynologyDrive/source')
master_table_bigrams = pd.read_csv('/home/neel/Desktop/MOUS_hierarchical-representations/guslatho/syllabificator/mous_words_syllable_bigram_frequencies.csv')
master_table_bigrams = master_table_bigrams[['Word','Bigram Occurrence Counts']]

In [3]:
master_table

,Word,n_syllables,Log10_Syllable_FREQcounts,Syllable_Zipfs,Min_Log10_FreqCount,Max_Log10_FreqCount,Mean_Log10_FreqCount,Min_Syll_Zipf
0,ik,1,"(6.241737438532683,)","(7.468668823067624,)",6.241737,6.241737,6.241737,7.468669
1,je,1,"(6.249430979053402,)","(7.476362363588343,)",6.249431,6.249431,6.249431,7.476362
2,het,1,"(6.032457179694622,)","(7.259388564229563,)",6.032457,6.032457,6.032457,7.259389
3,de,1,"(6.234172950952972,)","(7.461104335487914,)",6.234173,6.234173,6.234173,7.461104
4,dat,1,"(6.012697215956926,)","(7.239628600491868,)",6.012697,6.012697,6.012697,7.239629
...,...,...,...,...,...,...,...,...
278056,aagghh,1,"(0.3010299956639812,)","(1.5279613801989225,)",0.301030,0.301030,0.301030,1.527961
278057,aagezien,3,"(1.5185139398778875, 6.125745990776331, 5.0128...","(2.7454453244128287, 7.352677375311273, 6.2397...",1.518514,6.125746,4.219027,2.745445
278058,aaf,1,"(0.3010299956639812,)","(1.5279613801989225,)",0.301030,0.301030,0.301030,1.527961
278059,aada's,0,(),(),NaN,NaN,NaN,NaN
278060,aachener,3,"(1.5185139398778875, 3.8627870982353443, 4.446...","(2.7454453244128287, 5.0897184827702855, 5.673...",1.518514,4.446708,3.276003,2.745445

In [4]:
master_table_bigrams

            Word                           Bigram Occurrence Counts
0           toen                   [2236591.0, 837795.0, 8542439.0]
1             de                                        [2559661.0]
2      barkeeper  [584273.0, 1754491.0, 2174749.0, 3143026.0, 94...
3            die                             [1050254.0, 2076673.0]
4      irritante  [2884214.0, 200692.0, 1787712.0, 333345.0, 892...
...          ...                                                ...
1937       blije         [152155.0, 3369152.0, 1639122.0, 913788.0]
1938    jongeren  [866375.0, 2451854.0, 2927082.0, 3692145.0, 67...
1939      intens  [2264626.0, 1477178.0, 3522714.0, 8542439.0, 6...
1940     plezier  [97171.0, 4397946.0, 100963.0, 123482.0, 20766...
1941  woonplaats  [933919.0, 3901750.0, 2451854.0, 16967.0, 9717...

[1942 rows x 2 columns]

In [6]:
master_table_2 = pd.merge(master_table_bigrams,master_table,on = 'Word',how='inner')

master_table_2

,Word,Bigram Occurrence Counts,n_syllables,Log10_Syllable_FREQcounts,Syllable_Zipfs,Min_Log10_FreqCount,Max_Log10_FreqCount,Mean_Log10_FreqCount,Min_Syll_Zipf
0,toen,"[2236591.0, 837795.0, 8542439.0]",1,"(4.680453364401369,)","(5.90738474893631,)",4.680453,4.680453,4.680453,5.907385
1,de,[2559661.0],1,"(6.234172950952972,)","(7.461104335487914,)",6.234173,6.234173,6.234173,7.461104
2,barkeeper,"[584273.0, 1754491.0, 2174749.0, 3143026.0, 94...",3,"(3.9745116927373285, 3.177824971864682, 4.7107...","(5.20144307727227, 4.4047563563996235, 5.93769...",3.177825,4.710760,3.954366,4.404756
3,die,"[1050254.0, 2076673.0]",1,"(5.527754887527666,)","(6.754686272062608,)",5.527755,5.527755,5.527755,6.754686
4,irritante,"[2884214.0, 200692.0, 1787712.0, 333345.0, 892...",4,"(3.0461047872460387, 4.870825118775824, 4.0058...","(4.27303617178098, 6.097756503310765, 5.232755...",3.046105,5.910039,4.458198,4.273036
...,...,...,...,...,...,...,...,...,...
1907,blije,"[152155.0, 3369152.0, 1639122.0, 913788.0]",2,"(4.573869100848107, 5.300412859229037)","(5.800800485383048, 6.527344243763977)",4.573869,5.300413,4.937141,5.800800
1908,jongeren,"[866375.0, 2451854.0, 2927082.0, 3692145.0, 67...",3,"(4.668600215163262, 6.125745990776331, 5.48281...","(5.895531599698203, 7.352677375311273, 6.70975...",4.668600,6.125746,5.425722,5.895532
1909,intens,"[2264626.0, 1477178.0, 3522714.0, 8542439.0, 6...",2,"(5.704650611569667, 2.92272545799326)","(6.931581996104608, 4.149656842528201)",2.922725,5.704651,4.313688,4.149657
1910,plezier,"[97171.0, 4397946.0, 100963.0, 123482.0, 20766...",2,"(3.953807997665307, 3.788521887222473)","(5.180739382200248, 5.015453271757414)",3.788522,3.953808,3.871165,5.015453
1911,woonplaats,"[933919.0, 3901750.0, 2451854.0, 16967.0, 9717...",2,"(4.72007657276814, 4.131233594589685)","(5.947007957303082, 5.358164979124627)",4.131234,4.720077,4.425655,5.358165

In [6]:
#1. Syllable Frequency tables for visual modality

In [8]:

for subject in source.iterdir():
    if subject.name.startswith('sub-V') and subject.is_dir():
        transcription = pd.read_csv(subject / 'func' / (f"{subject.name}_transcription.csv"))
        #merge with master table on 'Word'
        transcription = transcription.merge(master_table, on='Word', how='left')
        transcription = transcription[['Onset','Word', 'Min_Log10_FreqCount']]
        transcription.to_csv(subject / 'func' / (f"{subject.name}_syllable_frequency.csv"), index=False)

In [ ]:
#2. Bigram Frequency tables for auditory modality

import ast  # safely parse string literals like "[123.0, 456.0]"

def compute_logmin_bigram(x):
    try:
        if isinstance(x, str):
            x = ast.literal_eval(x)  # safely convert string to list
        if isinstance(x, (list, tuple)):
            min_val = min(x)
        elif pd.notnull(x):
            min_val = float(x)
        else:
            return np.nan
        return np.log10(min_val) if min_val > 0 else np.nan
    except:
        return np.nan

In [9]:
for subject in source.iterdir():
    if subject.name.startswith('sub-A') and subject.is_dir():
        transcription = pd.read_csv(subject / 'func' / (f"{subject.name}_transcription.csv"))
        transcription = transcription.rename(columns={'Transcription': 'Word'})
        #merge with master table on 'Word'
        transcription = transcription.merge(master_table, on='Word', how='left')
        transcription['LogMin_Bigram_Frequency'] = transcription['Bigram Occurrence Counts'].apply(compute_logmin_bigram)
        transcription = transcription[['AlignOnset', 'Word', 'LogMin_Bigram_Frequency']]
        transcription.to_csv(subject / 'func' / (f"{subject.name}_bigram_frequency.csv"), index=False)

In [10]:
transcription

      AlignOnset       Word  LogMin_Bigram_Frequency
0         10.244       keek                 5.882011
1         10.914         in                 6.354996
2         11.434        die                 6.021294
3         11.974         de                 6.408182
4         12.464   verbaasd                 4.723850
...          ...        ...                      ...
1375    1280.992        het                 5.915397
1376    1281.082     nieuwe                 4.995179
1377    1281.552         en                 6.931582
1378    1281.782    eeuwige                 4.995179
1379    1282.162  Jeruzalem                      NaN

[1380 rows x 3 columns]